.containerFreeQueue {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    animation: fadeOutAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    
}

.containerFreeQueueAfter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    animation: fadeIntAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    
}

.blocoFreeQueue {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: rgb(72, 72, 72);
    border: 1px solid black;
    color: white;

}

.blocoFreeQueueAfter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    border: 1px dotted black;

}
 
  

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeIntAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

