/* PUSH STACK */

.containerDequeue {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 50px;
}

/* ################################3 */
.blocoDequeue1Fill {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: rgb(72, 72, 72);
    border: 1px solid black;
}

.dequeue {
    color: black;
    font-weight: bold;
    text-align: center;

    opacity: 0;
}

.dequeueFill {
    color: white;
    font-weight: bold;
}

.blocoDequeue2Fill {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: rgb(72, 72, 72);
    border: 1px solid black;
}

.dequeue2 {
    color: black;
    font-weight: bold;

    opacity: 0;
}

.dequeueFill2 {
    color: white;
    font-weight: bold;

    opacity: 0;

    animation: fadeInAnimation1 ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 4s;
}


.blocoDequeue3Fill {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: rgb(72, 72, 72);
    border: 1px solid black;

    opacity: 1;

    animation: fadeInAnimation ease 3.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 3.5s;
    
}

.dequeue3 {
    color: black;
    font-weight: bold;

    opacity: 0;
}

.dequeueFill3 {
    color: white;
    font-weight: bold;

    opacity: 0;

    animation: fadeInAnimationP ease 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
}


.blocoDequeue4Fill {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: rgb(72, 72, 72);
    border: 1px solid black;

    opacity: 1;

    animation: fadeInAnimation ease 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
}

.dequeue4 {
    color: black;
    font-weight: bold;

    opacity: 0;
}

.dequeueFill4 {
    color: white;
    font-weight: bold;

    opacity: 0;

    animation: fadeInAnimationP ease 1.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1.8s;
}


.blocoDequeue5Fill {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: rgb(72, 72, 72);
    border: 1px solid black;
    
    opacity: 1;

    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

.dequeue5 {
    color: black;
    font-weight: bold;

    opacity: 0;
}

.dequeueFill5 {
    color: white;
    font-weight: bold;

    opacity: 1;

    animation: fadeInAnimationP ease 1s;
    animation-iteration-count: 1.5;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

/* ################################3 */

@keyframes fadeInAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeInAnimation1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInAnimationP {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
