.codes {
    font-size: 16px;
}

.method {
    display: flex;
    width: 100%;
    margin-top: 30px;
}

.method pre {
    display: flex;
}

.description {
    margin-top: 30px;
}

.pAnimation1 {
    animation: fadeInAnimation ease-out 2s;
    animation-fill-mode: forwards;
    color: rgb(72, 72, 72);;
    font-weight: bold;
    font-size: 15px;
}
.pAnimation2 {
    animation: fadeInAnimation ease-out 4s;
    animation-fill-mode: forwards;
    color: rgb(72, 72, 72);;
    font-weight: bold;
    font-size: 15px;
    text-align: justify;

}
.pAnimation3 {
    animation: fadeInAnimation ease-out 6s;
    animation-fill-mode: forwards;
    color: rgb(72, 72, 72);;
    font-weight: bold;
    font-size: 15px;
}

.pAnimation4 {
    animation: fadeInAnimation ease-out 8s;
    animation-fill-mode: forwards;
    color: rgb(72, 72, 72);;
    font-weight: bold;
    font-size: 15px;
}
.pAnimation5 {
    animation: fadeInAnimation ease-out 10s;
    animation-fill-mode: forwards;
    color: rgb(72, 72, 72);;
    font-weight: bold;
    font-size: 15px;
}
.pAnimation6 {
    animation: fadeInAnimation ease-out 12s;
    animation-fill-mode: forwards;
    color: rgb(72, 72, 72);;
    font-weight: bold;
    font-size: 15px;
}
.pAnimation7 {
    animation: fadeInAnimation ease-out 14s;
    animation-fill-mode: forwards;
    color: rgb(72, 72, 72);;
    font-weight: bold;
    font-size: 15px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}