.containerCreateQueue {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    align-items: center;
    justify-content: center;

    animation: fadeInAnimation ease 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

.blocoCreateQueue {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid black;
}

.blocoCreateQueueInitial {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
