/* PUSH STACK */

.containerPushStack {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blocoPushStack1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid black;
}

.blocoPushStack2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid black;
}

.blocoPushStack3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid black;
}

.blocoPushStack4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid black;
}

.blocoPushStack5 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid black;
}


/* ################################3 */
.blocoPushStack1Fill {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: rgb(72, 72, 72);
    border: 1px solid black;

    opacity: 0;

    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}

.top {
    color: black;
    font-weight: bold;
    text-align: center;

    opacity: 0;
}

.topFill {
    color: white;
    font-weight: bold;

    opacity: 0;

    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}

.blocoPushStack2Fill {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: rgb(72, 72, 72);
    border: 1px solid black;

    opacity: 0;

    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 4s;
}

.top2 {
    color: black;
    font-weight: bold;

    opacity: 0;
}

.topFill2 {
    color: white;
    font-weight: bold;

    opacity: 0;

    animation: fadeInAnimationP ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 4s;
}


.blocoPushStack3Fill {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: rgb(72, 72, 72);
    border: 1px solid black;

    opacity: 0;

    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    
}

.top3 {
    color: black;
    font-weight: bold;

    opacity: 0;
}

.topFill3 {
    color: white;
    font-weight: bold;

    opacity: 0;
    animation: fadeInAnimationP ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}


.blocoPushStack4Fill {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: rgb(72, 72, 72);
    border: 1px solid black;

    opacity: 0;

    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

.top4 {
    color: black;
    font-weight: bold;

    opacity: 0;
}

.topFill4 {
    color: white;
    font-weight: bold;

    opacity: 0;

    animation: fadeInAnimationP ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}


.blocoPushStack5Fill {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: rgb(72, 72, 72);
    border: 1px solid black;
    
    opacity: 0;

    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.top5 {
    color: black;
    font-weight: bold;

    opacity: 0;
}

.topFill5 {
    color: white;
    font-weight: bold;

    opacity: 0;

    animation: fadeInAnimationP ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

/* ################################3 */

@keyframes fadeInAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInAnimationP {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
