/* PUSH STACK */

.containerPushStack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blocoPushStack1 {
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid black;
}

.blocoPushStack2 {
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid black;
}

.blocoPushStack3 {
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid black;
}

.blocoPushStack4 {
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid black;
}

.blocoPushStack5 {
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid black;
}


/* ################################3 */
.blocoPushStack1Fill {
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: rgb(72, 72, 72);
    border: 1px solid black;

    opacity: 0;

    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}

.blocoPushStack2Fill {
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: rgb(72, 72, 72);
    border: 1px solid black;

    opacity: 0;

    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 4s;
}

.blocoPushStack3Fill {
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: rgb(72, 72, 72);
    border: 1px solid black;

    opacity: 0;

    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    
}

.blocoPushStack4Fill {
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: rgb(72, 72, 72);
    border: 1px solid black;

    opacity: 0;

    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

.blocoPushStack5Fill {
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: rgb(72, 72, 72);
    border: 1px solid black;
    
    opacity: 0;

    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
/* ################################3 */

@keyframes fadeInAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
