.header {
  background-color: #515151;
  color: #fff;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.headerTitle {
  font-size: 30pt;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.headerTitle > a {
  text-decoration: none;
  color: #fff;
}

.icon {
  margin-right: 15px;
}

.alink:hover {
  color: #fff;
}