.buttonsCodes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    /* background-color: yellow; */
}

.divAttention {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.attention {
    margin-top: 18px;
    text-align: center;
    color: red;
    font-size: 18px
}

.pAttention {
    font-size: 16;
    color: red;
    font-weight: bold;
}

.paragraph { 
    font-size: 16;
    color: rgb(72, 72, 72);
    font-weight: bold;
}

.valueListEnqueueStyle {
    font-size: 30;
    letter-spacing: 10px;
    color: rgb(72, 72, 72);
    font-weight: bold;
    margin-left: 10;
    margin-right: 10;

}

.infos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testando {
    display: flex;
    justify-content: center;

}

.userInfo {
    display: flex;
    height: 50px;
    width: 100%;
    /* background-color: aqua; */
}

.contentInput {
    display: flex;
    align-items: center;
    justify-content: center;
}

.funcInput {
    margin-top: 12px;
    font-size: 30px;
    font-weight: bold;
    
}

.inputValues{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    width: 50px;
    height:30px;
}

.inputStructQueue {
    width: 50px;
    height: 30px;
    margin-top: 4px;
    margin-left: 10px;
}

.buttonsUser{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.buttonInterative {
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
    width: 170px;
    background-color: rgb(72, 72, 72);
    border-radius: 6px;
    color: white;
    font-weight: bold;
}

.codes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.codesIntern {
    display: flex;
    flex-direction: row;
}

.queueInterative {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

@media screen and (max-width: 600px) {
    .queueInterative {
      overflow: auto;
    }
    .codes {
        overflow: auto;
    }

    .funcInput {
        font-size: 22px;
    }
  }