.container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}

.buttonsCodes {
    display: flex;
    width: 100%;
    height: 50%;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divAttention {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.attention {
    margin-top: 18px;
    text-align: center;
    color: red;
    font-size: 18px
}

.pAttention {
    font-size: 16;
    color: red;
    font-weight: bold;
}

.paragraph { 
    font-size: 16;
    color: rgb(72, 72, 72);
    font-weight: bold;
}

.valueListEnqueueStyle {
    font-size: 30;
    letter-spacing: 10px;
    color: rgb(72, 72, 72);
    font-weight: bold;
    margin-left: 10;
    margin-right: 10;

}

.infos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userInfo {
    display: flex;
    height: 50px;
    width: 100%;
}

.contentInput {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.funcInput {
    font-size: 30px;
    font-weight: bold;
    
}

.inputValues{
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    width: 50px;
    height:30px;
}

.inputStructQueue {
    width: 50px;
    height: 30px;
    margin-top: 4px;
}

.buttonInterative {
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
    width: 170px;
    background-color: rgb(72, 72, 72);
    border-radius: 6px;
    color: white;
    font-weight: bold;
}

.buttonInterative1 {
    height: 50px;
    width: 170px;
    background-color: rgb(72, 72, 72);
    border-radius: 6px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

.line1{
    margin-top: 10px;
}

.line2{
    margin-top: 10px;
}

.codes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.queueInterative {
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    .buttonInterative1 {
        margin-top: 20px;
        margin-left: -38px;
    }
    
    .buttonInterative {
        margin-left: 58px;
    }

    .codes {
        overflow: auto;
    }

    .queueInterative {
        overflow: auto;
        width: 100%;
    }
  }