.barSorts {
    margin-top: 20px;
}

.content {
    margin-top: 15px;
}

.inputStructQueue {
    width: 150px;
    height: 30px;
    margin-top: 4px;
    margin-left: 10px;
}



.inputValues{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    width: 100px;
    height:30px;
}

.rowBars {
    display: flex;
    flex-direction: row;
}

.selectLength {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.arrayBar {
    color: white;
    font-size: 10px;
    text-align: center;
    background-color: rgb(191, 190, 190);
    width: 10px;
    display: inline-block;
    margin: 0 1px;
    margin: 0px 10px 0px 10px;
}

.bar {
    display: flex;
    flex-direction: column-reverse;
}

.btnInterative {
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
    width: 170px;
    background-color: rgb(72, 72, 72);
    border-radius: 6px;
    color: white;
    font-weight: bold;

}