.container {
    display: flex;
    align-items: center;
}

.text {
    margin-left: 10px;
    font-weight: bold;
}

.partStack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: 1px dashed black;
    background-color: white;
}

.part {
    display: flex;
    
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
}

